# Logs
logs/
*.log
npm-debug.log*

# Node
node_modules/
frontend_old/
dist/
dist-ssr/
*.local

# Editor
.vscode/
.idea/
.DS_Store

# Data
data/dataset/
data/db*/
outputs/

# Models
models/*.pt

# Python
__pycache__/
*.pyc

# Docker
.dockerignore
